@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Carrossel";
}

<h3>Catálogo</h3>
<div id="my-carousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="~/images/produtos/large_1.jpg" />
                        </div>
                        <div class="panel-footer">
                            <div>Camiseta error 404</div>
                            <div>R$58,00</div>
                            <div class="text-center">
                                @Html.ActionLink("Adcionar", "carrinho", "pedido")
                            </div>
                        </div>
                    </div>  

                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="~/images/produtos/large_2.jpg" />
                        </div>
                        <div class="panel-footer">
                            <div>Camiseta error 404</div>
                            <div>R$58,00</div>
                            <div class="text-center">
                                @Html.ActionLink("Adcionar", "carrinho", "pedido")
                            </div>
                        </div>
                    </div>  
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="~/images/produtos/large_3.jpg" />
                        </div>
                        <div class="panel-footer">
                            <div>Camiseta error 404</div>
                            <div>R$58,00</div>
                            <div class="text-center">
                               @Html.ActionLink("Adcionar", "carrinho", "pedido")
                            </div>
                        </div>
                    </div>  
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="~/images/produtos/large_4.jpg" />
                        </div>
                        <div class="panel-footer">
                            <div>Camiseta error 404</div>
                            <div>R$58,00</div>
                            <div class="text-center">
                                @Html.ActionLink("Adcionar", "carrinho", "pedido")
                            </div>
                        </div>
                    </div>  
                </div>
            </div>

        </div>
       
        <div class="item">
            <div class="row">
                <div class="col-xs-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="~/images/produtos/large_5.jpg" />
                        </div>
                        <div class="panel-footer">
                            <div>Camiseta Como seria bom</div>
                            <div>R$50,00</div>
                            <div class="text-center">
                               @Html.ActionLink("Adcionar", "carrinho", "pedido")
                            </div>
                        </div>
                    </div>  

                </div>
                <div class="col-xs-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="~/images/produtos/large_6.jpg" />
                        </div>
                        <div class="panel-footer">
                            <div>Camiseta Como seria bom</div>
                            <div>R$50,00</div>
                            <div class="text-center">
                               @Html.ActionLink("Adcionar", "carrinho", "pedido")
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="col-xs-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="~/images/produtos/large_7.jpg" />
                        </div>
                        <div class="panel-footer">
                            <div>Camiseta Como seria bom</div>
                            <div>R$50,00</div>
                            <div class="text-center">
                                @Html.ActionLink("Adcionar", "carrinho", "pedido")
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="col-xs-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="~/images/produtos/large_8.jpg" />
                        </div>
                        <div class="panel-footer">
                            <div>Camiseta Como seria bom</div>
                            <div>R$50,00</div>
                            <div class="text-center">
                                @Html.ActionLink("Adcionar", "carrinho", "pedido")
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>

        <div class="item">
            <div class="row">
                <div class="col-xs-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="~/images/produtos/large_9.jpg" />
                        </div>
                        <div class="panel-footer">
                            <div>May the code be with you</div>
                            <div>R$67,00</div>
                            <div class="text-center">
                               @Html.ActionLink("Adcionar", "carrinho", "pedido")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="~/images/produtos/large_5.jpg" />
                        </div>
                        <div class="panel-footer">
                            <div>May the code be with you</div>
                            <div>R$67,00</div>
                            <div class="text-center">
                                @Html.ActionLink("Adcionar", "carrinho", "pedido")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="~/images/produtos/large_3.jpg" />
                        </div>
                        <div class="panel-footer">
                            <div>May the code be with you</div>
                            <div>R$67,00</div>
                            <div class="text-center">
                                @Html.ActionLink("Adcionar", "carrinho", "pedido")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="~/images/produtos/large_4.jpg" />
                        </div>
                        <div class="panel-footer">
                            <div>May the code be with you</div>
                            <div>R$67,00</div>
                            <div class="text-center">
                                @Html.ActionLink("Adcionar", "carrinho", "pedido")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#my-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#my-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>